.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0px;
  flex-direction: column;
  height: 70vh;
}

.alert-banner {
  margin: 24px 48px;
  text-align: center;
}