.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0px;
  flex-direction: column;
  height: 70vh;
}

.button1{
  padding: 10px 40px;
  font-size: 30px;
  background-color: black;
}